<h1>{{header.title}}</h1>
<p>Welcome to {{header.siteTitle}}</p>
<dir>
    <div>Menu</div>
    <ul>
        <li><a href="/profiles">List Profiles</a></li>
        <li><a href="/users">List Users</a></li>
    </ul>
</div>
